.CollectionContainer {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.Image {
  width: 240px;
  height: 160px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 2px;
  margin-left: 2px;
  margin-right: 2px;
  margin-bottom: 6px;
  position: relative;
  cursor: pointer;
}

.Image:hover::after {
  content: "";
  position: absolute;
  bottom: 3px;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 8px;
  background: skyblue;
  bottom: -6px;
}